* {
    line-height: 1.5em;
}

body {
    background-attachment: fixed;
    background-image: url("images/internet-group-chat.png");
    background-position: top right;
    background-repeat: no-repeat;
    margin: 1em;
    padding: 1em;
}

a {
    color: #3465a4;
}

a:active {
    border: none;
    outline: none;
}

a:hover {
}

a.plaintextlink {
    background-color: white;
    position: absolute;
    top: 2em;
    right: 2em;
}

    a.plaintextlink + br {
        display: none;
    }

.time {
    /*color: #888a85;*/
}

.line {
    border: 1px solid;
    border-radius: 0.5em;
    -moz-border-radius: 0.5em;
    border-color: transparent;
    padding: 0.25em;
    white-space: pre-wrap;
}

    .line:target {
        background-color: #fce94f;
        border-color: #edd400;
        color: inherit;
}

.line.non-dialog {
    color: #888a85;
}

.line-link,
.line-marker {
    margin-right: 0.25em;
    text-decoration: none;
}
