AddHandler mod_python .log
AddHandler mod_python .py
DirectoryIndex "logformat.py"
PythonHandler logformat 
PythonDebug On

Options +Indexes
IndexOptions +FancyIndexing +FoldersFirst
IndexIgnore logformat.py ln.sh screenshots css 
IndexOrderDefault Descending Name
